$font: "Roboto";
$base-font-size: 14;
$desktop: 830px;
$icomoon-font-family: "imu" !default;
$icomoon-font-path: "/src/assets/fonts/imusify" !default;

$FontPath: "/src/assets/fonts/roboto" !default;
$FontName: "Roboto" !default;
$FontVersion: "2.137" !default;

$imu-error: "\72";
$imu-info: "\74";
$imu-success: "\7a";
$imu-hambuger: "\68";
$imu-browse: "\61";
$imu-channels: "\62";
$imu-crowdfunding: "\63";
$imu-following: "\64";
$imu-home: "\65";
$imu-upload: "\66";
$imu-wallet: "\67";