input,
textarea {
  background: transparent;
  border: 1px solid $grey !important;
  width: 100% !important;
  border-radius: calculateRem(5);
  &::placeholder {
    color: $grey;
  }
}

textarea {
  resize: none;
}
*:focus {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}
