.track-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: calculateRem(1);
  margin-bottom: calculateRem(50);
  margin-left: calculateRem(5);
  // width: 100vw;
  overflow-x: hidden;
  &__item {
    background-size: cover;
    height: calculateRem(180);
    width: calculateRem(180);
    display: flex;
    flex-direction: column;
    padding: calculateRem(10);
    margin-bottom: calculateRem(5);
  }
  &__price {
    flex: 2;
  }
  &__play {
    flex: 1.5;
    align-self: center;
  }
  &__title {
    flex: 0.5;
    color: $white;
  }
  &__author {
    color: $grey;
  }
}

@media (max-width: $desktop) {
  .track-list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0;
    &__item {
      height: calculateRem(180);
      width: calculateRem(180);
      margin-left: calculateRem(2);
      padding: calculateRem(1);
    }
    &__price {
      padding: calculateRem(5);
    }
    &__play {
      padding: calculateRem(5);
    }
    &__title {
      padding: calculateRem(5);
    }
    &__author {
      padding: calculateRem(5);
    }
  }
}
