html, body {
  background-color: $body-bg;
  color: $body-color;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app > section {
  padding: 1rem;
}
