html, body {
  background-color: $body-bg;
  color: $body-color;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app > section {
  width: 100vw;
}

.hide {
  display: none;
}
.wrapform {
  max-width: 45.5rem;
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  &.lg {
    max-width: 60.4rem;
    min-width: 60.4rem;
  }
  h1.heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2.4rem;
  }
  p.subheading {
    font-family: Roboto;
    font-style: normal;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
  }
}

.social-icons {
  a {
    svg {
      fill: #fff;
      width: 2.3rem;
      height: 2.3rem;
    }
    color: #fff;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.1rem solid  #fff;
    margin: 0 1.1rem;
    font-size: 2.3rem;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    background: #0d0d0e;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover {
      background: #E41C69;
      border-color: #E41C69;
    }
  }
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3.8rem 0;
}

.or-ui {
  width: 12.5rem;
  margin: 2.4rem auto 2rem;
  text-align: center;
  color: #717172;
  border-bottom: 0.1rem solid #717172;
  font-size: 2.5rem;
  position: relative;
  height: 3rem;
  margin-top: -1.5rem;
  span {
    display: block;
    text-align: center;
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    background: #0d0d0e;
    width: 4.5rem;
    margin: auto;
  }
}

.two-column {
  display: flex;
  align-items: center;
}

.left-sec {
  text-align: center;
  width: 17rem;
  margin-right: 4.5rem;
  img {
    width: 16.3rem;
    height: 16.3rem;
    border-radius: 50%;
    border: 0.2rem solid #717172;
    margin-bottom: 2rem;
  }
}

.right-sec {
  width: 36.2rem;
}

@media screen and (max-width: 992px) {
  .two-column {
    flex-direction: column;
  }
  .left-sec {
    margin: auto !important;
  }
  .right-sec {
    width: 100%;
  }
  .wrapform {
    &.lg {
      min-width: inherit;
    }
    margin: 3rem auto;
    h1.heading {
      font-size: 3.2rem;
    }
  }
  .social-icons {
    margin: 2rem 0;
  }
  .or-ui {
    margin: 2rem auto;
  }
  .social-icons a {
    svg {
      fill: #fff;
      width: 1.8rem;
      height: 1.8rem;
    }
    width: 3.5rem;
    height: 3.5rem;
  }
}