nav.subnav {
  a {
    background-color: inherit;
    color: $link-color;
    font-weight: 400;
  }
}

nav.topnav .categories ul {
  li.active a, a:hover {
    background-image: url(/icon-triangle.svg);
    background-position: center bottom -2px;
    background-repeat: no-repeat;
    background-size: 14px 7px;
  }
}
